@model IEnumerable<film.Models.mamo>

@{
    ViewBag.Title = "myscore";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int year_id = int.Parse(ViewData["year_id"].ToString());
    int total_total = 0;
}

@section cssjs { }

<h2>myscore</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.film_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mamo_bo_total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mamo_bo_open)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.film_ranking_point)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.film_gross_points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.film_opening_points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.film_gross_opening_points)
        </th>
        <th>
            Total
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.film_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mamo_bo_total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mamo_bo_open)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.film_ranking_point)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.film_gross_points)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.film_opening_points)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.film_gross_opening_points)
        </td>
        <td>
            @{ int total = item.film_ranking_point + item.film_gross_points + item.film_opening_points + item.film_gross_opening_points; }
            @Html.Raw(total.ToString())
            @{ total_total += total;  }
        </td>
    </tr>
}

    <tr>
        <td>
            
        </td>
        <td>
            Sum
        </td>
        <td>
            XXX
        </td>
        <td>
            XXX
        </td>
        <td>
            @{ int rank_sum = film.Models.mamo_team_model.sum_rank_bonus(Model.ToList()); }
            @Html.Raw(rank_sum.ToString())
        </td>
        <td>
            @{ int gross_sum = film.Models.mamo_team_model.sum_gross_bonus(Model.ToList()); }
            @Html.Raw(gross_sum.ToString())
        </td>
        <td>
            @{ int opening_sum = film.Models.mamo_team_model.sum_opening_bonus(Model.ToList()); }
            @Html.Raw(opening_sum.ToString())
        </td>
        <td>
            @{ int opening_gross_sum = film.Models.mamo_team_model.sum_opening_total_bonus(Model.ToList()); }
            @Html.Raw(opening_gross_sum.ToString())
        </td>
        <td>
            @Html.Raw(total_total.ToString())
        </td>
    </tr>

</table>

@Html.ActionLink("Back to Scoreboard", "scoreboard", new { id =  year_id})
