@model film.Models.mamo_team

@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section cssjs {
    <script src="~/Scripts/custom/team_building.js"></script>
}

@{ 
    if(ViewData["cuttoff"] != null)
    {
        <div class="cuttoff"></div>
    }
}

<h2>Team @Html.Raw(Model.year.year)</h2>
@if (Model.submitted)
{
    <span>This is final and can't be edited</span>
}
else
{
    <span>This team is in draft</span>
}

@using (Html.BeginForm("team","mamo",FormMethod.Post, new { @id ="team_form" })) {

    @Html.HiddenFor(Model => Model.id, new { @class = "team_id"})
    @Html.HiddenFor(Model => Model.year.id)
    @Html.HiddenFor(Model => Model.owner.id)


    <table class="table">
        <tr>
            <th>
                Ranking
            </th>
            <th>
                Film Name
            </th>
            <th>
                Predicted Total
            </th>
            <th>
                Predicted Opening
            </th>
            <th>
                Release Date
            </th>
            @if (!Model.submitted)
            {
                <th></th>
            }
        </tr>
        <div class="films">
        @if (Model.submitted)
        {
            foreach (var item in Model.films)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.rank)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.film_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mamo_bo_total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mamo_bo_open)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.release_date)
                    </td>
                </tr>
            }
        }
        else {
            int count = 0;
            foreach (var item in Model.films)
            {
                count++;
                <div class="nothing">
                    @{ Html.RenderAction("old_team_member", "Mamo", new { id = Model.id, film = item }); }
                </div>
            }
            while (count < 10)
            {
                count++;
                Html.RenderAction("new_team_member", "Mamo", new { id = Model.id });
            }
        }
        </div>
    </table>
        
    if(!Model.submitted || DateTime.Now < new DateTime(2016, 5, 2))
    {
        <input type="submit" class="update_films" value="Save Draft" name="save" />
        <input type="submit" class="lock" value="Lock Films" name="lockfilm" />
    }

}

