@model film.Models.user

@{  Layout = null; }

@using (Html.BeginForm("LoginForm","User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
        @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.PasswordFor(model => model.password, new { @class = "form-control text-box single-line" } )
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-default" />
        </div>
    </div>
</div>
}
